header{
    background: rgba(255, 255, 255, 0.24);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    @extend .flexbox;
    padding: 27px 17px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    .logo{
        font-size: 33px;
        font-weight: 700;
        span{
            color: $main-color;
        }
    }
    .navbar{
        @extend .flexbox;
        a{
            font-size: $p-font;
            font-weight: 500px;
            margin: 15px 22px;
            text-transform: uppercase;
            display: block;
            &:hover{
                color: $main-color;
                scale: 1.2;
            }
        }
    }
    .header-right{
        @extend .flexbox;
        @include laptop{
            background-color: red;
        }
        a{
            font-size: 20px;
            margin: 0 18px 0 5px;
            @extend .transition;
            &:hover{
                color: $main-color;
                transform: translateY(-3px);
            }
        }
        a:first-child{
            font-size: $p-font;
            margin-right: 20px;
        }
        #menu-btn{
            display: none;
        }
    }
}